.index-footer{
    background-color: #101010;
    @include size-container(100%, auto);
    @include flexing(center, flex-start);
    flex-direction: column;
    @include padding(30px, 0, 30px, 0);
    h3{
    @include padding(5px,10px, 5px, 40px);
    font-weight: bolder;
    font-style: italic;
    color: #FFF;
    }
    a{
        color: #FFF;
        @include padding(5px,10px, 5px, 40px);
    }
}