@media screen and (min-width:1200px){

    body{
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: auto 1fr auto;
    }

    header{
        grid-area: 1/2/2/3;
    }

    main{
        grid-area: 2/2/3/3;
    }
    .input_ville{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    footer{
        grid-area: 3/2/4/3;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

