.menu__choix, .cards, .tuto .steep {
  border-radius: 20px;
}

.order, .explore .send {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  width: 60%;
  height: 50px;
  box-shadow: 5px 5px 10px black;
  margin: 20px auto;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

* {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "shrikhandregular";
  src: url("police/Shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("police/Shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("police/Roboto/roboto-regular.woff2") format("woff2"), url("police/Roboto/roboto-regular.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "roboto";
}

h1 {
  font-family: "shrikhandregular";
  margin: 20px 0;
}

.fas:before {
  color: black;
  font-size: 18px;
}

.logo-shop::before {
  color: #9356DC;
  transform-origin: 50% bottom;
}

.logo-mobil::before, .logo-list::before {
  color: grey;
}

.fa-utensils::before, .fa-hands-helping::before {
  color: white;
  display: inline-flex;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-heart {
  font-size: 30px;
  color: #bfbfbf;
}

.fa-check::before {
  font-size: 20px;
  color: #99E2D0;
}

.heart::before {
  font-size: 30px;
  color: #9356DC;
}

.heart {
  opacity: 0;
  transform-origin: 50% bottom;
}

.heart:active {
  animation: fill 0.6s ease-out forwards;
}

@keyframes fill {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.new-resto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0px 10px;
}

.loading-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-origin: left 50%;
  background-color: #9356DC;
  position: fixed;
  z-index: 1000;
  animation: disapear 1.5s 3s ease-in-out forwards;
}
.loading-spinner h1 {
  font-size: 80px;
  text-shadow: 5px 10px 15px #FF79DA;
  margin: 0;
  font-weight: bolder;
  color: #99E2D0;
  transform: translateX(400px);
  animation: loading 2s ease-in-out 0.3s forwards;
}

h1:nth-child(2) {
  animation-delay: 0.5s;
}

h1:nth-child(3) {
  animation-delay: 1s;
}

h1:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes loading {
  0% {
    transform: translateX(400px);
  }
  33% {
    transform: translateX(0px);
  }
  40% {
    transform: scaleY(2);
  }
  66% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes disapear {
  0% {
    clip-path: circle(100%);
  }
  35% {
    clip-path: circle(30%);
  }
  70% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(0%);
  }
}
.index-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  background-color: #101010;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 0 30px 0;
}
.footer h1 {
  padding: 5px 10px 5px 40px;
  font-size: 18px;
  color: #FFF;
}
.footer a {
  color: #FFF;
  padding: 5px 10px 5px 40px;
}

section {
  margin-bottom: 50px;
}

h2 {
  margin-left: 20px;
}

.explore {
  width: 100%;
  height: auto;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  text-align: center;
}
.explore span {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px #bfbfbf inset;
  background-color: #F2F2F2;
}
.explore span .yourPosition {
  width: 40%;
  background-color: #F2F2F2;
  text-align: center;
  font-size: 14px;
  border: none;
  outline: none;
}
.explore span .yourPosition:focus {
  transform: scale(1.3);
  transition: 1s;
}
.explore .indication {
  width: 85%;
  margin: auto;
}
.explore .indication p {
  font-size: 18px;
  font-weight: 300;
  color: grey;
}
.tuto {
  width: 100%;
  height: auto;
}
.tuto .steep {
  width: 85%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  box-shadow: 2px 2px 10px #bfbfbf;
  background-color: #F2F2F2;
  position: relative;
}
.tuto .steep p {
  font-size: 14px;
  width: max-content;
  margin-left: 20px;
}
.tuto .steep .fas {
  position: absolute;
  left: 30px;
}
.tuto .steep .num {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  left: -10px;
}

.restaurants {
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  background-color: #F2F2F2;
}

.cards {
  width: 90%;
  height: 30%;
  margin: 30px auto;
  box-shadow: 2px 2px 10px #bfbfbf;
  position: relative;
  z-index: 1;
}
.cards--picture1 {
  background-image: url(ressources/restaurants/jay-wennington.jpg);
}
.cards--picture2 {
  background-image: url(ressources/restaurants/stil.jpg);
}
.cards--picture3 {
  background-image: url(ressources/restaurants/toa-heftiba.jpg);
}
.cards--picture4 {
  background-image: url(ressources/restaurants/louis-hansel.jpg);
}
.cards span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  z-index: 1000;
}
.cards__containerImg {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-position: center center;
  background-size: cover;
}
.cards__describe {
  width: 100%;
  height: 60px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #FFF;
}
.cards__describe h3 {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
}
.cards__describe p {
  margin: 3px 10px;
}
.cards__describe .new-resto {
  position: absolute;
  right: 15px;
  top: 15px;
}

.resto1 {
  background-image: url(ressources/restaurants/jay-wennington.jpg);
}

.resto2 {
  background-image: url(ressources/restaurants/stil.jpg);
}

.resto3 {
  background-image: url(ressources/restaurants/toa-heftiba.jpg);
}

.resto4 {
  background-image: url(ressources/restaurants/louis-hansel.jpg);
}

.resto {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

.menu {
  background-color: #F2F2F2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  bottom: 60px;
}
.menu__name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
.menu .form-menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: writing-menu 1.5s ease-out forwards;
  opacity: 0;
}
.menu .form-menu > h2 {
  width: 90%;
  font-weight: 100;
}
.menu__choix {
  background-color: #FFF;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 2px 15px #bfbfbf;
  margin: 10px auto;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.menu__choix .price {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.menu .intitule {
  padding-left: 10px;
}
.menu h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}
.menu p {
  margin: 5px 0;
  font-weight: 300;
  font-size: 15px;
}

.underline {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
}

@keyframes writing-menu {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100px);
}
.price .prix {
  place-self: flex-end flex-end;
  padding-right: 20px;
}

.coche {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(15px);
  background-color: #99E2D0;
}

.checked {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 50%;
  transform: rotateZ(-90deg);
}

.menu__choix:active > .price {
  transform: translateX(15px);
  transition: 1.5s;
}
.menu__choix:active > .price .checked {
  transform: rotateZ(0deg);
  transition: 2.5s;
}

/*# sourceMappingURL=main.css.map */
