section{
    margin-bottom: 50px;
}

h2{
    margin-left: 20px;
}

.explore{
    @include size-container(100%, auto);
    @include padding(0,0,30px,0);
    background-color: $bg-component;
    text-align: center;
    span{
        @include flexing;
        @include size-container(100%,60px);
        box-shadow: 0px 1px 5px $color-shadow inset;
        background-color: $bg-component;
        padding-left: 40px;
        .yourPosition{
            background-color: $bg-component;
            border: none;
        }
    }
     .indication{
        width: 85%;
        margin: auto;
        p{  
            font-size: 18px;
            font-weight: 300;
            color: grey;
        }
    }
    .send{
      @extend %btn-submit;
    }

}

.tuto{
    @include size-container(100%, auto);
    .steep{
        @include size-container(85%, 50px);
        @include flexing;
        @include marging(20px, auto);
        @include shadow(2px, 2px, 10px);
        @extend %border-circle ;
        background-color:$bg-component;
        font-weight: 700;
        position: relative;
        .num{
            @include size-container(25px, 25px);
            @include flexing(center, flex-end);
            font-size: 18px;
            border-radius: 50%;
            background-color: $color-primary;
            color: #FFF;
            position: absolute;
            left: -10px;
        }
        .fas{
            position: absolute;
            left: 40px
        }
    }
}

.restaurants{
    @include size-container(100%, auto);
    @include padding(20px, 0, 20px, 0);
    background-color: $bg-component;
}
   .cards{
       @include size-container(90%, 30%);
       @include marging(30px, auto);
       @include shadow(2px,2px,10px);
       @extend %border-circle;
       @include bloccards;
       position: relative;
       z-index: 1;
       span{
           position: absolute;
           right:20px;
           bottom:15px;
           z-index: 1000;
        }
       &__containerImg{
           @include size-container(100%, 100px);
           @include border-round(20px,20px,0,0);
           background-position:center center;
           background-size: cover;
        }
        &__describe{
           @include size-container(100%, 60px);
           @include border-round(0,0,20px,20px);
           background-color: #FFF;

       & h3{
            @include marging(5px, 10px);
       }
       & p{
           @include marging(3px, 10px);
       }
       & .new-resto{
           position: absolute;
           right: 15px;
           top: 15px;
       }
    }
}
    

    
    
        
        