.alacarte{
    background-color: $bg-component;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}

.menu__name{
    margin-bottom: 20px;
}

.choix__intitule{
    cursor: pointer;
    &--name-font{
        font-size: 18px;
        margin:0 0 5px 0;
        
    }
}
    
 .choix:active > .bill{
    transform: translateX(0px);
    padding-left: 40px;
    .bill__checkbox--checked{
        transform: rotateZ(0deg); 
    }
}

.resto{
    height: 100%;
    order: 2;
    transform: scale(0.9);
    border-radius: 30px;
}

.menu{
    order: 1;
    transform: scale(0.9);    
}
