.loading-spinner{
    background-color: $color-secondary;
}

.loader{
    background-color: $color-secondary;
    .cercle{
        border-top:5px solid $color-primary;
    }
}

.logo-mobile::before{
    display: none;
}

.fa-desktop::before{
    display: initial;
    position: absolute;
    bottom: -20px;
    left: 50%;
}


.logo-gps::before{
    display: none;
}

.index-header{
    background-color: $color-primary;
    display: block;
    h1{
        font-size: 50px;
        padding: 40px 50px;
        margin: 0;
    }
}

.explore{
    padding: 0;
    .input_ville{
        display: flex;
        justify-content: space-around;
        background-color: $color-primary;
        text-align: left;
        .input-location{
            background-color: $color-primary;
            align-items: flex-end;
            box-shadow: none;
            order: 2;
            .yourPosition{
                @include size-container(300px, 30px);
                &:focus{
                    transform: none;
                }
            }
        }
    }
    
    .indication{
        width: 40%;
        margin: 0;
        padding: 0 0 40px 0px;
        order: 1;
    }h2 , p{
        color: $white;
        font-size: 16px;
    }
    .send{
        order: 3
    }
}


    .tuto{
        @include size-container(90%,200px);
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    & h2{
        display: none;
    }
    .steep{
        @include size-container(30%, 100px);
        margin: auto;
        .num{
            @include size-container(30px,30px);
            font-weight: bolder;
            top:0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p{
            text-align: center;
            font-size: 20px;
            margin: 0;
        }
        .fas{
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            &::before{
                font-size: 15px;
            }
        }
    }
}

.restaurants{
    @include size-container(90%,auto);
    justify-content: space-around;
    padding-top: 30px;
    border-radius: 20px;
    margin: 30px auto;
    display: grid;
    grid-template-columns:repeat(auto-fill,250px);
    position: relative;
    > h2{
        position: absolute;
        top:5px;
    }
    .cards{
        @include size-container(250px, 400px);
        &__containerImg{
            height: 300px;
        }
        &__describe{
            height: 100px;
            &--marge-txt{
                padding-top: 17px;
            }
        }
    }
}

.footer{
    display: block;
  text-align: center;
  a{
      margin: 0 30px;
  }
}