.resto{
    @include menu-resto;                    
    height: 300px;
    background-size: cover;
    background-position: center center;
}

.menu{
    background-color: $bg-component;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 60px;
    margin-bottom: -60px;
    &__name{
        @include flexing(space-around, center);
    }
}

.form-menu{
    display: flex;
    align-items: center; 
    flex-direction: column;
    > h2{
        width: 90%;
        font-weight: 100;
    }
}

[type="checkbox"]{
    display: none;
}

.underline{
    border-bottom: 4px solid $color-third;
    padding-bottom: 5px;
}

.choix{
    background-color:$white;
    @include size-container(95%, 80px);
    display: flex;
    margin:10px auto;
    @include shadow(3px,3px,5px,$color-shadow);
    @extend %border-circle;
    animation: writing-menu 1.5s ease-out forwards;
    overflow: hidden;
    &__intitule{
        width: 100%;
        padding:20px 0px 20px 20px;
        overflow: hidden;
        & > span{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &--name-font{
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        &--description-font{
            font-weight: 300;
            font-size: 12px;
            
        }        
    }
}
    
.bill{
    @include flexing;
    transform: translateX(100px);
    transition: all 0.8s ease;
    &__checkbox{
        @include size-container(80px,80px);
        @include flexing;
        background-color: $color-third;
        &--checked{
            @include flexing;
            @include size-container(40px,40px);
            background-color: $white;
            border-radius: 50%;
            transform: rotateZ(-360deg);
            transition: 0.4s 0.2s;
        }
    }
}

.prix{
    position: relative;
    right: 40px;
    top: 13px;
    
}

.order{
    @extend %btn-submit;
}

@keyframes writing-menu {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    } 
}

.choix:active > .bill{
    transform: translateX(0px);
    padding-left: 40px;
    .bill__checkbox--checked{
        transform: rotateZ(0deg); 
    }
}

input[type=checkbox]:checked + .bill{
    transform: translateX(0px);
    padding-left: 40px;
    .bill__checkbox--checked{
        transform: rotateZ(0deg); 
    }
} 

