
.resto{
@include menu-resto;
height: 300px;
background-size: cover;
background-position: center center;
}
.menu{
    background-color: $bg-component;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 60px;
    margin-bottom: -60px;
    &__name{
        @include flexing(space-around, center);
    }
}

.form-menu{
    display: flex;
    align-items: center; 
    flex-direction: column;
    > h2{
        width: 90%;
        font-weight: 100;
    }
}
[type="checkbox"]{
    display: none;
}

.underline{
    border-bottom: 4px solid $color-third;
    padding-bottom: 5px;
}

.choix{
    background-color:$white;
    display: flex;
    @include size-container(95%, 80px);
    margin:10px auto;
    @include shadow(3px,3px,5px,$color-shadow);
    @extend %border-circle;
    animation: writing-menu 1.5s ease-out forwards;
    transform-origin: 50% bottom;
    overflow: hidden;
    opacity: 0;
    &__intitule{
        width: 100%;
        padding:20px 0px 20px 20px;
        overflow: hidden;
        & > span{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &--name-font{
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        &--description-font{
            font-weight: 300;
            font-size: 12px;
            
        }        
    }
}

.bill{
    @include flexing;
    transform: translateX(100px);
    &__checkbox{
        @include size-container(80px,80px);
        @include flexing;
        background-color: $color-third;
        &--checked{
            @include flexing;
            @include size-container(40px,40px);
            background-color: $white;
            border-radius: 50%;
            transform: rotateZ(-90deg)
        }
    }
}

.prix{
    position: relative;
    right: 40px;
    top: 15px;
    
}

.order{
    @extend %btn-submit;
}

@keyframes writing-menu {
    from{
        transform: scaleY(0);
        opacity: 0;
    }
    to{
        transform: scaleY(1);
        opacity: 1;
    } 
}

.choix:active > .bill{
    animation: valid 2.7s;
    .bill__checkbox--checked{
        transform: rotateZ(0deg); 
        transition: 0.8s 0.4s;
    }
}

@keyframes valid {
    0%{transform: translateX(100px);}
    60%{transform: translateX(0px);}
    100%{transform: translateX(100px);}  
}
