.indication{
    padding-top:0;
}

.tuto{
    @include size-container(90%,180px);
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    & h2{
        display: none;
    }
    .steep{
        @include size-container(30%, 150px);
        margin: auto;
        .num{
            @include size-container(30px,30px);
            font-weight: bolder;
            top:0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p{
            text-align: center;
            font-size: 18px;
            margin: 0;
        }
        .fas{
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            &::before{
                font-size: 30px;
            }
        }
    }
}

.restaurants{
    @include size-container(90%,auto);
    justify-content: space-around;
    padding-top: 50px;
    border-radius: 20px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:repeat(auto-fill,190px);
    position: relative;
    > h2{
        position: absolute;
        top:5px;
    }
    .cards{
        @include size-container(190px, 250px);
        &__containerImg{
            height:190px;
        }
        &__describe{
            height: 60px;
            &--marge-txt{
                padding-top: 9px;
            }
        }
    }   
}