.fas:before{
   color: black;
   font-size: 18px;
}

.logo-shop::before{
    color:$color-primary;
    transform-origin: 50% bottom;
}

.logo-mobile::before, .logo-list::before, .fa-desktop::before{
    color: grey;
}

.fa-desktop::before{
    display: none;
}

.fa-utensils::before, .fa-hands-helping::before{
    color: white;
    display: inline-flex;
    @include size-container(25px, 25px);
    @include flexing(flex-start,center);
}

.fa-check::before{
    font-size: 20px;
    color: $color-third;
}


.heart-nofill::before{
    font-size: 30px;
    cursor: pointer;
    color: $color-primary;
}

.heart-nofill{
    opacity: 0.2;
}

.heart-nofill:hover{
    opacity: 0.5;
    transition: 0.3s;
}

.heart-nofill:visited ,.heart-nofill:hover{
    animation: fill 0.6s ease-out forwards;
}

@keyframes fill{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    
    80%{
        transform: scale(1.5);
        opacity: 0.7;
    }

    100%{
        transform: scale(1);
        font-weight: bold;
        opacity: 1;
    }
}