*{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('../../police/Shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../police/Shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('../../police/Roboto/roboto-regular.woff2') format('woff2'),
         url('../../police/Roboto/roboto-regular.woff') format('woff');
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include size-container(100%, 100vh);
    font-family: "roboto";
}

h1{
    font-family: "shrikhandregular";
    @include marging(20px, 0);
}