%border-circle{
    border-radius: 20px;
}

%btn-submit{
    @include degrade-color(170deg, $color-secondary, $color-primary, 1);
    @include size-container(250px, 50px);
    @include shadow(5px, 5px, 10px, $color-shadow);
    margin:25px 0;
    color: #FFF;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    &:hover{
        @include shadow(5px, 5px, 10px, darken($color: $color-shadow, $amount: 30%));
        @include degrade-color(170deg, $color-secondary,  $color-primary,0.8);
        transition: 0.4s ease-out;
    }
}
