@mixin flexing($axisX: $axePos, $axisY: $axePos){
    display: flex;
    justify-content: $axisX;
    align-items: $axisY;
}

@mixin size-container($width, $height){
    width: $width;
    height: $height;
}


@mixin degrade-color($angle, $firstcolor, $seconde-color,$opacity){
    background: linear-gradient($angle, $firstcolor, $seconde-color);
    opacity: $opacity;
}
    

@mixin shadow($x, $y, $propagation, $shadow-color:$color-shadow){
    box-shadow: $x $y $propagation $shadow-color;
}

@mixin bloccards {
    @each $key, $value in $restos{
        &--picture#{$key}{
            background-image: $value;
        }
    }
}

@mixin menu-resto{
    @each $key, $value in $restos{
        &#{$key}{
            background-image: $value;
        }
    }
       
}
