$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-third:#99E2D0;
$bg-component:#F2F2F2;

$axePos: center;

$restos:(
    1:url(ressources/restaurants/jay-wennington.jpg),
    2:url(ressources/restaurants/stil.jpg),
    3:url(ressources/restaurants/toa-heftiba.jpg),
    4:url(ressources/restaurants/louis-hansel.jpg)
);